.list-group-item{padding:0;border-bottom:5px solid #fff;border-top:0}
.pswp__bg{    background: url(bg.jpg);background-size:100% 100%;}
.figures{box-sizing:border-box;}
@media screen and (max-width:600px){
	.figures{
		width:31%;
	}
}
@media screen and (min-width:600px){
	.figures{
		width:24%;
	}
}
@media screen and (min-width:800px){
	.figures{
		width:19%;
	}
}
@media screen and (max-width:400px){
	.figures{
		width:48%;
	}
}